/* Reset */
@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Body Styles */
body {
    font-family: Helvetica, Arial, system-ui;
    height: 100vh;
    line-height: 1.5;
}

/* Container Styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Child Elements */
.child-1 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}